.registration-layout {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/Images/registration-bg.png);
    background-position: top;
    background-size: cover;
    overflow-y: auto;
}

.registration-layout .content {
    padding: 95px;
}

.auth-model {
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(36.7143px);
    border-radius: 24px;
    color: white;
}

.auth-model-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}

.auth-model-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #BEBEBE;
}

.auth-input {
    height: 56px;
    background-color: #1D1D1D !important;
    color: #A3A3A3;
    border: 1px solid #6B6B6B;
    border-radius: 12px;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    font-size: 18px;
    line-height: 100%;
}

.password-input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #A3A3A3;
    font-size: 18px;
    line-height: 100%;
}

.auth-input-textarea {
    height: 112px;
    background-color: #1D1D1D !important;
    color: #A3A3A3;
    border: 1px solid #6B6B6B;
    border-radius: 12px;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    resize: none;
    font-size: 18px;
    line-height: 100%;
}

.auth-label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.auth-checkbox {
    width: 20px;
    height: 20px;
    background: #1D1D1D;
    border: 1px solid #6B6B6B;
    border-radius: 6px;
}

.green-btn {
    height: 56px;
    background: #5D8B2F;
    border-radius: 12px;
    width: 100%;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}

.green-btn-outline {
    height: 56px;
    background: rgba(93, 139, 47, 0.2);
    border: 2px solid #5D8B2F;
    border-radius: 12px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.view-map-btn {
    background: #5D8B2F;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    padding: 7px 7px 7px 20px;


}

.view-map-btn-scope {
    background: #C2DE86;
    box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 42px;
    width: 42px;
}

.add-more {
    height: 56px;
    background-color: transparent !important;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-file {
    height: 56px;
    background-color: #848484 !important;
    color: #404040;
    border-radius: 12px;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    text-align: center;
    /* background-image: url(../assets/Images/dashed-border.svg);
    background-position: center;
    background-size: 100% 56px !important; */
}

.upload-file::before {
    content: "";
    position: absolute;
    border: 2px dashed white;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 12px;
}




.head-checkbox {
    display: flex !important;
    align-items: flex-start !important;
}

.checkbox-container {
    display: block;
}

.checkbox-container input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-container label {
    position: relative;
    cursor: pointer;
    margin: 0 !important;
}

.checkbox-container input:checked+label:before {
    background-color: #5D8B2F;
    border: 1px solid #5D8B2F;
    box-shadow: none;
}

.checkbox-container label:before {
    content: '';
    -webkit-appearance: none;
    background: #1D1D1D;
    border: 1px solid #6B6B6B;
    border-radius: 6px;
    padding: 9px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 2px;
}

.checkbox-container input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 8px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.google-login {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 12px;
    border: 0;
    outline: none;
}


.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 30px 0 !important;
}

.or:after {
    content: "";
    display: block;
    background: white;
    width: 45%;
    height: 1px;
    margin: 10px 0 10px 10px;
}

.or:before {
    content: "";
    display: block;
    background: white;
    width: 45%;
    height: 1px;
    margin: 10px 10px 10px 0px;
}

.mobile-header {
    height: 91px;
    padding: 16px 24px;
    background: #2F2E2A;
    border-radius: 0px 0px 16px 16px;
}

.mobile-header svg:first-child {
    height: 100%;

}

.custom-w {
    width: auto;
}

.min-width-208 {
    min-width: 208px;
}

.max-width-521 {
    max-width: 521px;
    padding: 40px;
}

.max-width-792 {
    max-width: 792px;
    padding: 40px;
}


/* header */
.app-header {
    display: flex;
    /* align-items: center; */
    /* gap: 20px; */
    height: 80px;
}

.app-header .app-heading {
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
}

/* footer */
.app-footer {
    background-color: #242424;
    color: #CCCCCC !important;
    padding-top: 64px;
}

.app-footer .copyright {
    border-top: 1px solid rgb(204 204 204 / 30%);
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.app-footer a {
    color: #CCCCCC !important;
}

.app-footer ul {
    margin-top: 28px !important;
    list-style: none;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 0;
    font-size: 16px !important;
}

.app-footer ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-footer .newsletter {
    background-color: #0C0C0C;
    border: 1px solid #464646;
    border-radius: 16px;
    color: #404040 !important;
    padding: 0px 3px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter .send-mail {
    background: #464646;
    box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-footer input::placeholder {
    color: #464646 !important;
}

.app-footer .footer-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: white;
}

.content-footer {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.mobile-view-footer {
    width: 100%;
    height: 56px;
    background: #99C76B;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.04);
}

.mob-footer-link-active svg path {
    fill: white;
}

/* dashboard */

/* panic-section */
.panic-section {
    height: 400px;
    /* width: 100vw; */
    background-image: url(../assets/Images/registration-bg.png);
    background-position: center;
    background-size: cover;
    overflow-y: auto;
}

.panic-section .subdiv {
    background: linear-gradient(90deg, #5D8B2F 13.19%, rgba(93, 139, 47, 0.4) 62.02%);
    height: 100%;
}

.panic-section .description {
    width: 70%;
}

/* all-product-section */
.all-product-section {
    padding: 80px 0;
}

.allproduct-heading {
    padding-bottom: 20px;
    width: max-content !important;
    background-image: url(../assets/Images/curl.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.product-item {
    height: 56px;
    background: #F1F1F1;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #707070 !important;
    opacity: 0.94;
    min-width: fit-content;
    padding: 0 16px;
    gap: 16px;
}

.product-item-active {
    background: #5D8B2F !important;
    color: #FFFFFF !important;
}

.product-item-active svg path {
    fill: white;
}

.search-product {
    height: 56px;
    background: #F1F1F1;
    border: 1px solid #C6C6C6;
    border-radius: 16px;
    padding: 8px 8px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-product span {
    width: 40px;
    height: 40px;
    background: #5D8B2F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.all-products-link::-webkit-scrollbar {
    width: 2px;
}

/* seeds */
.seeds-card-main {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap; */
}

.seeds-card-main .intro-img {
    width: 100%;
    height: 100%;
}

.seed-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    /* width: 300px; */
    padding: 16px;
    display: flex;
    flex-direction: column;
}





.seed-card .green-btn .send-message svg rect {
    fill: #C2DE86;
}

.seed-card .green-btn .send-message svg path {
    fill: #5D8B2F;
}

.app-menu {
    height: 100vh;
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 0 16px 16px 0;
    padding: 24px;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
    z-index: 99;
    left: 0;
}

.like-post {
    box-sizing: border-box;

    position: absolute;
    right: 5%;
    top: 5%;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {
    .panic-section .description {
        width: 100%;
    }

    .like-post {
        right: 5% !important;
    }
}

@media screen and (max-width:576px) {

    .height-56 {
        height: 40px !important
    }

    .green-btn,
    .green-btn-outline,
    .product-item,
    .search-product {
        height: 40px !important;
        border-radius: 8px;
    }



    .search-product {
        padding-right: 4px;
    }

    .search-product span {
        width: 32px;
        height: 32px;
        border-radius: 5px;
    }

    .seed-card .green-btn .send-message svg {
        height: 100%;
        width: 100%;
    }

    .seed-card .green-btn {
        height: 34px !important;
        border-radius: 5px;
    }

    .seed-card {
        padding: 0 0 24px 0;
        box-shadow: none;
        flex-direction: row;
        border-bottom: 1px solid rgba(93, 139, 47, 0.2);
        border-radius: 0 !important;
    }

    .seed-card .like-post-main .intro-img {
        max-width: 100%;
        height: 100%;
    }

    .seed-card .intro-img {
        max-width: 50%;
        height: 100%;
    }


    .app-header {
        background: #FFFFFF;
        border-radius: 0px 0px 16px 16px;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
        height: 327px !important;
    }

    .all-product-section {
        padding-top: 50px !important;
    }

    .content-footer {
        height: calc(100vh - 327px - 56px);
    }

    .search-product {
        width: 100%;
    }

    .max-width-521 {
        max-width: 521px;
        padding: 36px 16px 16px 16px;
    }

    .max-width-792 {
        max-width: 792px;
        padding: 36px 16px 16px 16px;
    }

    .auth-model {
        max-width: 521px;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(36.7143px);
        border-radius: 24px;
        color: white;
    }

    .registration-layout {
        overflow-y: hidden;
    }

    .registration-layout .content {
        overflow-y: auto;
        width: 100%;
        padding: 54px 24px 97px 24px;
    }

    .custom-w {
        width: 100% !important;
    }

    .seed-card .green-btn .send-message {
        width: 100% !important;
        height: 100% !important;
        display: block !important;
    }
}

@media screen and (min-width:436px) {
    .like-res {
        display: none !important;
    }

}

@media screen and (max-width:436px) {
    .like-post-main {
        display: none;
    }

    .like-res {
        display: block !important;
    }

    .seed-card .intro-img {
        max-width: 40%;
        height: 100%;
    }
}